<!DOCTYPE html>
{% set htmlLocale = app.request.locale|default(defaultlocale)|slice(0,2) %}
<!--[if lte IE 9]> <html class="no-js lt-ie9" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="{{ htmlLocale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
    {{ websitetitle | trans }}{% block title %}{% if page is defined and nodemenu.getActiveForDepth(2) is not null %} - {{ get_title_for(page) }}{% endif %}{% endblock %}
    </title>

    {% if page is defined %}
        {{ render_seo_metadata_for(page) }}
    {% endif %}

    {# Favicons #}
    {% include 'islamhispanoAppBundle:Layout:_favicons.html.twig' %}

    {# Webfonts #}
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    {# CSS #}
    {% include 'islamhispanoAppBundle:Layout:_css.html.twig' %}

    {# JS #}
    {% include 'islamhispanoAppBundle:Layout:_js_header.html.twig' %}
</head>

<body id="sidebar-toggle-container" class="sidebar-toggle-container{% block extra_body_classes %}{% endblock %}" {% block extra_body_attributes %}{% endblock %}>
    {# Google Tagmanager #}
    {% include 'islamhispanoAppBundle:Layout:_googletagmanager.html.twig' %}

    {# Outdated browser message #}
    {% include 'islamhispanoAppBundle:Layout:_outdatedbrowser.html.twig' %}


    {# Header #}
    {% block header %}
        {% include 'islamhispanoAppBundle:Layout:_header.html.twig' %}
    {% endblock %}

    {# Breadcrumbs #}
    {% block breadcrumbs %}
        {% include 'islamhispanoAppBundle:Layout:_breadcrumbs.html.twig' %}
    {% endblock %}

    {# Content #}
    <main role="main">
        {% block content %}{% endblock %}
    </main>

    {# Footer #}
    {% block footer %}
        {% include 'islamhispanoAppBundle:Layout:_footer.html.twig' %}
    {% endblock %}


    {# Cookieconsent #}
    {% block cookieconsent %}
        {% include 'islamhispanoAppBundle:Layout:_cookieconsent.html.twig' %}
    {% endblock %}

    {# JS Footer #}
    {% include 'islamhispanoAppBundle:Layout:_js_footer.html.twig' %}
</body>
</html>
